@import url('https://fonts.google.com/share?selection.family=Poppins:wght@100;200;300;400;500;600;700;800;900');


:root{
    --dark-one: #333;
    --dark-two: #7a7a7a;
    --dark-three:  #463f3f;
    --main-color: #784cfb;
    --light-one: #fff;
    --light-two:#f9fafb;
    --light-three:#f9fafb;
    --background-color: #f6f7fb;
    --background-color1:#63D6E0;
    --background-color2: #ffffff;
}
/* general style*/
body{
    margin:0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    line-height:1.3;
    box-sizing: border-box;
}


/* start navigation */
.navbar{
    background-color:var(--background-color1);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;   /* logo and menu in center */
    height: 70px;
}


.primary-icon{
   height:50px; 
}


.nav-list{
   list-style-type: none; 
}

.nav-list .list-item{
display: inline-block;
padding: 20px 10px;
justify-content: space-between;
}

.navbar a {
    color:black;
    text-decoration:none;
}

nav ul{ 
    list-style:none;
    margin:0;
    padding:0;
}

nav ul li  {
float:left;
list-style:none;
position:relative;
}

nav ul li a {
    display:block;
    padding: 0 20px;
    line-height: 70px;
    background-color:var(--background-color1);
    color:var(--dark-three);
    text-decoration:none;
}

nav ul li ul li {
    display:block;
    position:absolute;
    background-color: var(--background-color1);
    color:var(--dark-three);
    text-decoration: none;
}
 
 nav ul li ul li a  {
     padding: 8px 14px;
 }


nav ul li ul li a:hover {
  background: var(--background-color1);
  color: #6b44e0;
}
*/

.navbar-toggler{
/*border-radius: 5px*/
/*background-color: transparent */

cursor:pointer;
border: none;
display: none;
outline: none;
}

/* End general styles */
/* The full path of this code is nav ul li a:not(:only-child):after.
This means that the code will apply to any a tag in our nav list that is NOT an only child, 
aka any dropdown. The :after means it come after the outpost of the tag. I've decide that to
specify any nav item as a dropdown, it will be followed by unicode arrow -(#9662).*/

nav ul li a:hover{
    background:var(--background-color1);
    color:#6b44e0;
}
nav ul li a:not(:only-child):after{
    padding-left: 4px;
    content:'';
}




.menu-line{
    width: 20px;
    height: 3px;
    background-color:black;
    margin-top: 4px;
    transition: all 0.3s ease;
}



@media screen (max-width:800px){
 nav{
     position: fixed;
     z-index: 3;
 }

.menu-line{
    width: 20px;
    height: 3px;
    background-color:black;
    margin-top: 4px;
    transition: all 0.3s ease;
}
 .menu-line{
     display:block;
     position:absolute;
     cursor: pointer;
     right: 5%;
     top: 50%;
     transform: translate(-5%, -50%);
     z-index: 2;
     transition: all 0.7s ease;
 }

 .nav-list {
     position: fixed;
     background:var(--background-color1);
     height: 100vh;
     width: 100%;
     flex-direction: column;
     clip-path: circle (50px at 90%-20%);
     -webkit-clip-path: circle (50px at 90% -10%);
     transition: all 1s ease-out;
     pointer-events: none;
 }

 .nav-list.open{
     clip-path: circle (1000px at 90% -10%);
     -webkit-clip-path: circle (1000px at 90% -10%);
     pointer-events:all;
    }

     .nav-list li{
         opacity: 0;
     }

     .nav-list li:nth-child(1){
         transition: all 0.5s ease 0.2s;    
         }
     .nav-list li:nth-child(2){
        transition: all 0.5s ease 0.4s;    
        }
    .nav-list li:nth-child(3){
        transition: all 0.5s ease 0.6s;    
        }
    .nav-list li:nth-child(4){
        transition: all 0.5s ease 0.8s;
    }
    .nav-list li:nth-child(5){
        transition: all 0.5s ease 0.9s;
    }
    .nav-list li:nth-child(6){
        transition:all 0.5s ease 0.10s;
    }
    li.fade{
        opacity:1;
    }
    }

      /* animating hamburger icon on click */

      .toggle .menu-line1{
          transform: rotate(-45deg) translate (-5px,6px);
      }

      .toggle .menu-line2{
          transform:all 0.7s ease;
          width:0;
      }
    .toggle .menu-line3{
        transform: rotate(45deg) translate(-5pc, -6px);
    }




 
/*.navigation  - the outer wrapper for the nav.speccifies  teh height and colo, and willl strectyh the fulll width of the viewport  */
/*
.navigation {
    height:70px;
    background: #ffffff;
}
*/

/* nav-container - teh inner wrapper for the navbar. defines how far the actual contentr should strecth */

/* section services */

.section-header {
    text-align:center;
    margin-bottom: 1.5rem;
}

.title{
    position:relative;
    display:inline-block;
    padding-bottom: 1rem;
    line-height: 1;
    font-size: 2.8rem;
    margin-bottom: 0.6rem;
}

.title:before {
    content: attr(data-title);
    display:block;
    margin-bottom: 0.4rem;
    color: var(--main-color);
    font-size:1.15rem;
    font-weight:500;
    text-transform:uppercase;
    letter-spacing: 3px;
}

.title:after{
    content:"";
    position:absolute;
    width: 90px;
    height: 5px;
    border-radius: 3px;
    background-color: var(--main-color);
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
}

.section-header{
    max-width: 600px; 
    margin: 0 auto;
}


.section {
    padding: 7rem 0;
}
/*  start slider */


.slider {
    position: relative;
    background-color: #f6f7fb;
    width: 100%;
    min-height: 500px;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
}

.slider .slide {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slider .slide img {
    position: absolute;
    width:100%;
    height:100%;
    object-fit: cover;
}

.slider .slide .info {
    position:relative;
    color:#222;
    background:transparent;
    width: 75%;
    margin-top: 50px;
    margin-left: auto;
    margin-right:auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgba(1 1 1 /5%);
}

.slider .slide .info h2 {
    font-size: 2em;
    font-weight: 800;
}


.slider .slide  .info  p{
    font-size: 1em;
    font-weight: 400;
}
  /*arrow problem no show in web */
  .arrow {     
    height: 500px ;
    display:flex;
    color:black;
    align-items: center;
    justify-content: space-between;
    opacity:0; 
    transition: opacity 0.5s ease;
  }




  .prev-btn, .next-btn {
  z-index: 999;    
  font-size: 2em;
  color:#f6f7fb;
  background:rgba(255,255,255,0.5);
  padding:10px;
  cursor: pointer;
  }

  .prev-btn{
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
  }

  .next-btn {
     border-top-left-radius: 3px;
     border-bottom-left-radius: 3px;
  }

  
  .arrow-visibility {
    display: flex;
    justify-content: center; 
  }

  .arrow-visibility .slide-icon{
      z-index: 999;
      background-color: rgba(255,255,255,0.5);
      width: 20px;
      height: 10px;
      transform: translateY(-70px);
      margin: 0 6px;
      border-radius: 2px;
      box-shadow: 0 5px 25px rgb(1 1 1/20%);
  }

   @media (max-width:900px){
       .slider{
           width: 100%;
       }
   

     .slider .slide .info{
     position:relative;
     background:transparent;
     width: 75%;
     margin-left: auto;
     margin-right:auto;  
      }
    }

    @media (max-width: 500px){
        .slider .slide .info h2{
            font-size: 1.8em;
        }
    }

/* end slide */
/* start  services  */

.card{
    max-width: 390px;
    min-height: 520px;
    background-color:  var(--light-three);
}

.icon{
    width:90px;
    position:center;
    align-items: center;
}

.card  .card-content p{
    margin-bottom: 65px;
}

.btn-small{
 background-color: #63D6E0;   
 padding: 15px 35px;
 font-size: 1.1em;   
 color:#f6f7fb;
 text-decoration:none;
 border-radius: 2px;
}

.btn-small:hover{
    color:var(--main-color);
    transition: all 300ms ease-in-out;
}

/* end  services */
/* footer*/
.footer{
    background-color:#222;
    padding: 6rem 0;
}

.footer .grid-4{
  display: grid;
  grid-template-columns:3.5fr 2fr 2fr 3fr;
}

.grid-4-col{
    padding: 0 .17rem;
}

.footer .title-sm{
    color:#fafafa;
    margin-bottom: 0.9rem;
}

.footer  ul li {
list-style: none;
}

.footer .text{
    color:#fafafa;
}

.footer-links a {
 color:#888;
 font-size: 1.25rem;
 text-decoration:none;
 margin-bottom:  0.4rem;
 transition:.3s;
}


.footer-links a:hover{
    color :var(--light-two);
}

.footer-input-wrap{
    display:grid;
    grid-template-columns: auto 50px;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    overflow:hidden;
    margin-top: 1.2rem;
}

.input-arrow {
    color: #fff;
    background-color: var(--background-color);
}

.footer-input{
    background: #373737;
    color:#fff;
    background-color: var(--dark-one);
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1.45rem;
    transition: 0.3s;
}

.input-arrow:hover{
    background-color: #6b44e0;
}

.focus {
background: #fff;
}

/* spacing up */
.bottom-footer{
   margin-top: 5.5rem;
   padding: 0 1.7rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

 .h3 .follow-me{
    color: #fff;
    font-size:1.6em;

}


.social-media a {
    color:#fff;
    font-size: 1.6em;
    justify-content:space-between;
    display: inline-block;
    
       
}



.social-media a:hover {
 color:var(--main-color);
 transition: all 300ms ease-in-out;

}
/* end footer */
